PORT=4000
#DATBABASE 
DATABASE_URL="postgresql://admin:admin@localhost:5432/app_db?schema=public"
FRONTEND_URL="http://localhost:3000"
#SECRET_KEY 
ACCESS_SECRET_KEY=
REFRESH_SECRET_KEY=
RESET_PASSWORD_SECRET_KEY=
RESET_EMAIL_SECRET_KEY=
VERIFY_SECRET_KEY=
# MINIO 
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_USER="minioadmin"
MINIO_PASSWORD="minioadmin"
MINIO_BUCKET="bookstore"
MINIO_ENDPOINT="localhost"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"

#EMAIL 
MAIL_HOST=localhost # smtp.gmail.com
MAIL_PORT=1025  #zzzzzzzzzzzz587 
# MAIL_USER=
# MAIL_PASS="
MAIL_FROM="Beta Book <noreply@yourdomain.com>"
#NODE 
NODE_ENV="development"
#REDIS 
REDIS_HOST='localhost'
REDIS_PORT=6379