PORT=4000
#DATBABASE 
DATABASE_URL="postgresql://admin:admin@localhost:5432/app_db?schema=public"
#SECRET_KEY 
ACCESS_SECRET_KEY="secret_key"
REFRESH_SECRET_KEY="secret_key"
RESET_PASSWORD_SECRET_KEY="secret_key"
RESET_EMAIL_SECRET_KEY="secret_key"
VERIFY_SECRET_KEY="secret_key"
# MINIO 
MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="bookstore"
MINIO_USE_SSL="false"
MINIO_CONSOLE_PORT=9001